@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #fff;
    --color-secondary: #000;
    --color-blue-accent: #005ACC;
    --color-gray: #19222AB3;
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --text-normal: 400;
    --text-medium: 500;
    --text-bold: 600;
    --margin-0: 0;
    --mt-10: 1rem;
    --mt-20: 2.5rem;
    --mt-30: 3rem;
    --ml-10: 1rem;
    --ml-20: 2.5rem;
    --ml-30: 3rem;
    --mr-10: 1rem;
    --mr-20: 2.5rem;
    --mr-30: 3rem;
    --mb-10: 1rem;
    --mb-20: 2.5rem;
    --mb-30: 3rem;
    --padding-0: 0;
    --padding-5: 5px;
    --padding-10: 10px;
    --flex: flex;
    --absolute: absolute;
    --z-index-10: 1;
    --z-index-999: 999;
}

body {
    margin: var(--margin-0);
    padding: var(--padding-0);
    background-color: var(--color-primary);
    font-family: var(--font-dm-sans);
    font-weight: var(--text-normal);
}





/* Style Mobile */
@media only screen and (max-width: 767px) {
    body {
        margin: var(--margin-0);
        padding: var(--padding-0);
        background-color: var(--color-primary);
    }

    .header-bg-mobile img {
        width: 100%;
        height: 200px;
        position: var(--absolute);
        z-index: var(--z-index-10);
    }

    .header-bg-desktop img {
        display: none;
    }

    .navbar-mobile {
        display: var(--flex);
        position: var(--absolute);
        top: 0;
        justify-content: space-between;
        z-index: var(--z-index-999);
        width: 100%;
        height: 60px;
        background-color: transparent;
    }

    .navbar-logo-mobile {
        margin-left: var(--ml-10);
        margin-top: var(--mt-10);
    }

    .navbar-logo-mobile img {
        width: 100px;
        height: auto;
    }

    .navbar-icon-mobile {
        margin-right: var(--mr-10);
        gap: 10px;
        display: flex;
        align-items: center;
    }

    .navbar-icon-mobile img {
        width: 16px;
        height: auto;
        padding: 5px;
        border-radius: 50px;
        background-color: var(--color-primary);
    }

    .navbar-icon-mobile-alert {
        position: var(--absolute);
        width: 8px;
        height: 8px;
        background-color: red;
        border-radius: 50px;
        border: 1px solid var(--color-primary);
        right: 3.2rem;
        top: 1rem;
    }

    .navbar-action-mobile {
        left: 50%;
        transform: translate(-50%);
        top: 12%;
        width: 90%;
        height: 60px;
        border-radius: 12px;
        background-color: var(--color-primary);
        position: absolute;
        z-index: var(--z-index-999);
    }

    .action-content-mobile {
        display: flex;
        justify-content: space-around;
    }

    .action-content-mobile-img {
        display: flex;
    }

    .action-content-mobile-img img {
        width: 20px;
        margin-right: 5px;
        margin-top: -0.5em;
    }

    .action-content-mobile-img h5 {
        font-size: 10px;
        font-weight: var(--text-bold);
        color: var(--color-gray);
    }
}

/* End Style Mobile */

/* Style Desktop */
@media only screen and (min-width: 1024px) {
    .navbar-action-mobile {
        display: none;
    }
    .navbar-mobile {
        display: none;
    }

    .header-bg-mobile img {
        display: none;
    }

    .header-bg-desktop{
        position: absolute;
    }

    .header-bg-desktop img{
        width: 100vw;
    }

    .navbar-desktop{
        background-color: transparent;
        position: fixed;
        top: 0;
        width: 100%;
        margin-top: -10px;
    }

   
    .logo img{
        width:20%;
        margin-left: 100px;
    }

    .navbar-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
    }

    .navbar-menu nav ul{
        display: flex;
        list-style-type: none;
        align-items: center;
        margin-left: -220px;
    }

    .navbar-menu nav ul li{
        padding: 6px 12px;
    }

    .navbar-menu ul .partner{
        width: 20px;
        height: 20px;
    }

    .navbar-menu ul li a{
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 14px;
    }

    .navbar-menu ul .bendera-indonesia{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }


     .navbar-menu p{
        color: white;
        margin-top: 20px;
        display: flex;
        align-items: center;
     }
     .navbar-menu .arrowdrop img{
        width: 18px;
     }

     
    .button {
        margin-right: 100px;
        margin-left: -120px;
    }


    .button .btn{
        padding: 5px 16px;
        margin-left: 5px;
        background-color: transparent;
        border: none;
        font-size: 13.5px;
        color: white ;
        font-weight: 550;
     }
     .button .btn-1{
        padding: 8px 18px;
        font-size: 13.5px;
        color: white ;
        font-weight: 550;
        background-color: #007cff;  
        border: none;
        border-radius: 5px;
     }

     .content{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        margin-top: 7rem;
     }
     .content h1{
        color: white;
     }

     .search input{
        width: 500px;
        height:50px;
        border-radius: 50px;
        border: none;
        outline: none;
        text-indent: 40px;
     }

     .search{
        display: flex;
        align-items: center;
     }

     .search img{
        position: absolute;
        margin-left: 15px;
        width: 22px;
        opacity: 50%;
     }
}

/* End Style Desktop */