@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #fff;
    --color-secondary: #000;
    --color-blue-accent: #005ACC;
    --color-gray: #19222AB3;
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --text-normal: 400;
    --text-medium: 500;
    --text-bold: 600;
    --margin-0: 0;
    --mt-10: 1rem;
    --mt-20: 2.5rem;
    --mt-30: 3rem;
    --ml-10: 1rem;
    --ml-20: 2.5rem;
    --ml-30: 3rem;
    --mr-10: 1rem;
    --mr-20: 2.5rem;
    --mr-30: 3rem;
    --mb-10: 1rem;
    --mb-20: 2.5rem;
    --mb-30: 3rem;
    --padding-0: 0;
    --padding-5: 5px;
    --padding-10: 10px;
    --flex: flex;
    --absolute: absolute;
    --z-index-10: 1;
    --z-index-999: 999;
}

body {
    margin: var(--margin-0);
    padding: var(--padding-0);
    background-color: var(--color-primary);
    font-family: var(--font-dm-sans);
    font-weight: var(--text-normal);
}







/* Style Desktop */
@media only screen and (min-width: 1024px) {
    .navbar-action-mobile {
        display: none;
    }

    .mobile-styling {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .index_card_menu {
        display: none;
    }

    .card_mobile {
        display: none;
    }

    .index_banner_mobile {
        display: none;
    }

    .navbar-mobile {
        display: none;
    }

    .index_card_promo {
        display: none;
    }

    .index_navbar_bottom {
        display: none;
    }

    .index_card_menu {
        display: none;
    }

    .header-bg-mobile img {
        display: none;
    }

    .header-bg-desktop {
        position: absolute;
    }

    .header-bg-desktop img {
        width: 100vw;
    }

    .navbar-desktop {
        background-color: transparent;
        position: absolute;
        top: 0;
        width: 100%;
        margin-top: -10px;
    }


    .logo img {
        width: 20%;
        margin-left: 100px;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
    }

    .navbar-menu nav ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        margin-left: -220px;
    }

    .navbar-menu nav ul li {
        padding: 6px 12px;
    }

    .navbar-menu ul .partner {
        width: 20px;
        height: 20px;
    }

    .navbar-menu ul li a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 14px;
    }

    .navbar-menu ul .bendera-indonesia {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }


    .navbar-menu p {
        color: white;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .navbar-menu .arrowdrop img {
        width: 18px;
    }


    .button {
        margin-right: 100px;
        margin-left: -120px;
    }


    .button .btn {
        padding: 5px 16px;
        margin-left: 5px;
        background-color: transparent;
        border: none;
        font-size: 13.5px;
        color: white;
        font-weight: 550;
    }

    .button .btn-1 {
        padding: 8px 18px;
        font-size: 13.5px;
        color: white;
        font-weight: 550;
        background-color: #007cff;
        border: none;
        border-radius: 5px;
    }

    .content {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        margin-top: 7rem;
    }

    .content h1 {
        color: white;
    }

    .search input {
        width: 550px;
        height: 50px;
        border-radius: 50px;
        border: none;
        outline: none;
        text-indent: 40px;
    }

    .search {
        display: flex;
        align-items: center;
    }

    .search img {
        position: absolute;
        margin-left: 15px;
        width: 22px;
        opacity: 50%;
    }


    .content-icon {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-icon-bottom {
        margin-top: -1rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .content-icon-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .content-icon-menu h5 {
        font-size: 12px;
    }

    .content-icon-menu img {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        padding: 10px;
        width: 40px;
        transition: background-color 0.3s;
    }

    .content-icon-menu img:hover {
        background-color: rgba(255, 255, 255, 1);
    }

    .content-icon-menu h5 {
        margin-top: 5px;
        color: var(--color-primary);
    }

    .auya {
        position: absolute;
        top: 32rem;
    }

    .auya p {
        width: 100vw;
        height: 30px;
        background-color: #eaf1f9;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
    }

    .container {
        position: absolute;
        top: 35rem;
        width: 100vw;
        height: 100vh;
    }

    .container .judul {
        display: flex;
        align-items: center;
        margin: 0 100px;
    }

    .container img {
        width: 40px;
        margin-right: 10px;

    }



    .navbar-hero ul {
        display: flex;
        list-style-type: none;
        margin: 0 60px;
        margin-top: 10px;
    }

    .navbar-hero ul li {
        margin-right: 10px;
    }

    .navbar-hero ul li a {
        text-decoration: none;
        color: black;
        font-size: 12px;
        border: 1px solid rgb(218, 210, 210);
        padding: 8px 16px;
        border-radius: 20px;

    }

    ul li.active a {
        color: blue;
        font-weight: bold;
        border: 1px solid blue;
        border-radius: 20px;
    }


    .container-card {
        position: absolute;
        margin: 0 100px;
        margin-top: 40px;
        display: flex;

    }

    .card {
        width: 205px;
        height: 290px;
        border: none;
        background-color: var(--color-primary);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        margin-right: 15px;
        margin-top: -18px;
    }

    .card h5 {
        margin-left: 10px;
        margin-top: 5px;
        color: #2d2a2a;
    }

    .card p {
        margin-left: 10px;
        font-size: 12px;
        color: #534d4d;
        line-height: 0.5;
    }

    .a {
        margin-top: -12px;
    }

    .card h4 {
        margin-left: 10px;
        margin-top: 40px;
        color: rgb(231, 58, 58);
    }

    .card img {
        width: 205px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }

    .container-benner img {
        width: 100vw;

        position: absolute;
        margin-top: 380px;
    }


    /* aa */
    .container-a {
        position: absolute;
        top: 55rem;
        width: 100vw;
        height: 100vh;
    }

    .judul-1 {
        align-items: center;
        margin: 0 100px;
    }

    .judul-1 h2 {
        color: #524949;
    }

    .judul-1 p {
        margin-top: -15px;
        color: #4e5660;
        font-size: 14px;
    }


    .navbar-hero-1 ul {
        display: flex;
        list-style-type: none;
        margin: 0 60px;
        margin-top: 10px;
    }

    .navbar-hero-1 ul li {
        margin-right: 10px;
    }

    .navbar-hero-1 ul li a {
        text-decoration: none;
        color: black;
        font-size: 12px;
        border: 1px solid rgb(218, 210, 210);
        padding: 8px 16px;
        border-radius: 20px;

    }

    ul li.active-1 a {
        color: blue;
        font-weight: bold;
        border: 1px solid blue;
        border-radius: 20px;
    }


    .container-card-1 {
        position: relative;
        /* Pastikan kontainer tetap berada dalam alur dokumen */
        margin: 0 100px;
        margin-top: 8px;
        display: flex;
        overflow-x: auto;
        /* Mengaktifkan scroll horizontal */
        white-space: nowrap;
        /* Menghindari pemisahan elemen card */
        padding-bottom: 10px;
        /* Opsional, memberi ruang bawah */
    }

    .container-card-1::-webkit-scrollbar {
        display: none;
        /* Menyembunyikan scrollbar */
    }

    .card-1 {
        width: 300px;
        height: 225px;
        border: none;
        background-color: var(--color-primary);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        margin-right: 15px;
        margin-top: 18px;
        display: inline-block;
        /* Menjaga semua card dalam satu baris */
    }

    .cards-wrapper {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 10px;
    }

    .scroll-btn {
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: grey;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    /* Menyembunyikan scrollbar */
    .cards-wrapper::-webkit-scrollbar {
        display: none;
    }

    .card-1 h5 {
        margin-left: 10px;
        margin-top: 12px;
        color: #2d2a2a;
    }

    .card-1 p {
        margin-left: 10px;
        font-size: 12px;
        color: #534d4d;
        line-height: 1.4;
    }

    .a-1 {
        margin-top: -12px;
    }

    .card-1 h4 {
        margin-left: 10px;
        margin-top: 40px;
        color: rgb(231, 58, 58);
    }

    .md {
        font-weight: 400;
    }

    .card-1 .sby {
        font-weight: 700;
        font-size: 20px;
    }

    .paragraf {
        display: flex;
        justify-content: space-between;
        margin-left: 2px;
        margin-right: 15px;
        margin-top: 4rem;
    }

    .paragraf .sj {
        font-weight: 400;
        color: grey;
    }

    .idr {
        font-size: 16.5px;
        color: red;
        font-weight: 700 !important;
    }

    .right {
        text-align: right;
        font-weight: 400;
        color: grey !important;
    }


    .garis {
        width: 280px;
        border: 1px dashed grey;
        margin-left: 10px;
        margin-top: -14px;
        opacity: 20%;
    }

    .bw {
        display: flex;
        align-items: center;
    }

    .bw img {
        border: 1px solid grey;
        width: 10px;
        height: 10px;
        padding: 3px;
        border-radius: 20px;
        margin-left: 10px;
    }

    .bw p {
        margin-left: -3px;
    }

    .navbar-kedua-1 {
        margin-top: 2rem;
    }

}





/* End Style Desktop */